@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto:wght@100;400;700&display=swap");

:root {
  --logo-color: #932475;
  --hover-color: #e0b7ea;
  --black-color: #000000;
  --pricing-card-color: #faf3e8;
  --pricing-card-color-hover: #fffefb;
  --linkedin-color: #005ebf;
  --github-color: #000;
  --facebook-color: #3c6dbd;
  --yt-color: #b63d3d;
  --instagram-color: #bd3bd8;
  --social-gray-color: #bebaba;
  --social-darkgray-color: #979393;
  --lightyellow-color: #eff0c5;
  --darkyellow-color: #f9ef84;
  --inspiration-box-color: #ebe7e7;
  --card-hover-color: #f3ebfa;
  --card-color: #faf7fc;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff !important;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem;
}

.nav-logo {
  max-width: 150px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav.open .nav-logo {
  display: none;
}

nav.open ul {
  display: flex;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #555;
  display: inline-block;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -10px;
  left: 0;
  background-color: #8721a0;
  transition: all 0.3s ease;
}

.link:hover a::after {
  width: 70px;
  cursor: pointer;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--logo-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--hover-color);
  color: var(--logo-color);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.blur {
  position: absolute;

  box-shadow: 0 0 300px 100px var(--logo-color);
  z-index: 100;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  text-align: justify;
}

.image-header {
  filter: blur(5px);
  border-radius: 5px;
}

header .content h4 {
  margin-bottom: 1rem;
  color: var(--logo-color);
  font-size: 1rem;
  font-weight: 600;
}

header .content h1 {
  margin-bottom: 1rem;
  color: var(--logo-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
}

header .content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--logo-color);
}

header .content p {
  margin-bottom: 2rem;
}

header .image {
  position: relative;
}

header .image::before {
  content: "x";
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40rem;
  font-weight: 400;
  line-height: 20rem;
  color: var(--logo-color);
  opacity: 0.4;
  z-index: -100;
}

header .image img {
  max-width: 600px;
  margin: auto;
}

section .header {
  margin-bottom: 1rem;
  color: var(--logo-color);
  text-align: center;
  font-weight: 600;
  font-size: 2.25rem;
}

.features {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.features .card {
  background-color: var(--card-color);
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.features .card:hover {
  background-color: var(--card-hover-color);
  border-color: var(--card-color);
  color: var(--logo-color);
}

.features .card span {
  display: inline-block;

  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.74rem;
}

.cv {
  font-size: 1.25rem;
  color: #932475;
}

.features .card h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.features .card p {
  color: inherit;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  /* text-align:justify; */
}

.features .card a {
  color: #932475;
  font-size: 0.75rem;
  transition: all 0.3s ease;
}

.features .card a:hover {
  color: var(--hover-color);
}

.portfolio-items {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2rem;
}

.portfolio-items .item {
  background-color: var(--pricing-card-color-hover);
  border-radius: 10px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}
.portfolio .portfolio-items .item:hover {
  background-color: var(--inspiration-box-color);
}

.portfolio .portfolio-items .item .info h4 {
  font-size: 0.8rem;
  color: var(--logo-color);
}

.portfolio .portfolio-items .item img {
  filter: blur(0px);
  width: 95%;
  margin: auto;
  margin-top: 5px;
  height: 240px;
  object-fit: cover;
  object-position: top;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 20px 20px;
}

.portfolio .portfolio-items .item .info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 32px 42px;
}

.portfolio .portfolio-items .item .info p {
  font-size: 12px;
}

.portfolio .portfolio-items .item .info a {
  font-size: 12px;
  color: var(--logo-color);
}
.portfolio .portfolio-items .item .info a:hover {
  color: var(--hover-color);
}

.portfolio .portfolio-items .item .info .other {
  text-align: right;
  font-size: 0.7rem;
  color: var(--logo-color);
}

.portfolio .portfolio-items .item .info .other:hover {
  color: var(--instagram-color);
}

.more {
  display: none;
}

.portfolio .portfolio-items .item .info a i {
  margin-left: 5px;
  font-size: 18px;
  color: var(--black-color);
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 5px;
}
.portfolio .portfolio-items .item .info a i:hover {
  color: var(--pricing-card-color-hover);
  background-color: #000000;
}

.skills {
  text-align: justify;
  display: flex;
  justify-content: space-around;
  /* padding: 30px 80px; */
}

.skills .left {
  width: 680px;
  padding: 0px 80px 0px 0px;
}

.skills .left .info h3 {
  color: var(--logo-color);
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.skills .left .info p {
  font-size: 0.8rem;
}

.skills .left .button {
  margin-top: 30px;
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
  color: #fff;
  background-color: var(--logo-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skills .left .button:hover {
  background-color: var(--hover-color);
  color: var(--logo-color);
}

.skills .right {
  width: 420px;
  height: 100px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(10, 2fr);
}

.skills .right .item {
  color: var(--black-color);
}

.sub-header {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--black-color);
}

.pricing {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.pricing .card {
  padding: 3rem 2rem;
  background-color: var(--pricing-card-color);
  display: flex;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.pricing .card:hover {
  background-color: var(--pricing-card-color-hover);
  border-color: var(--pricing-card-color);
  color: var(--logo-color);
}

.pricing .card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 2rem;
}

.pricing .card h4 {
  margin-bottom: 1rem;
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 500;
}

.pricing .card h3 {
  color: var(--logo-color);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-size: 600;
  border-bottom: 3px dashed var(--logo-color);
}

.pricing .card p {
  color: var(--black-color);
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

.pricing .card p i {
  color: #555;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.pricing .card button {
  width: 100%;
  background-color: transparent;
  color: var(--logo-color);
  border: 1px solid var(--hover-color);
  margin-top: 2rem;
}

.pricing .card button:hover {
  background-color: var(--pricing-card-color);
  color: var(--black-color);
  border: 1px solid var(--pricing-card-color-hover);
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

footer .column .logo {
  max-width: 150px;
  margin-bottom: 2rem;
}

footer .column p {
  color: var(--social-gray-color);
  margin-bottom: 2rem;
  font-size: 0.75rem;
}

footer .column .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .column .socials a {
  color: #555;
  border: 1px solid #555;
  padding: 4px 8px;
  border-radius: 100%;
  font-size: 1rem;
  transition: all 0.3s ease;
}

footer .column .socials a:first-child {
  color: var(--linkedin-color);
  border: 1px solid var(--linkedin-color);
}
footer .column .socials a:nth-child(2) {
  color: var(--github-color);
  border: 1px solid var(--github-color);
}
footer .column .socials a:nth-child(3) {
  color: var(--facebook-color);
  border: 1px solid var(--facebook-color);
}
footer .column .socials a:nth-child(4) {
  color: var(--yt-color);
  border: 1px solid var(--yt-color);
}
footer .column .socials a:nth-child(5) {
  color: var(--instagram-color);
  border: 1px solid var(--instagram-color);
}

footer .column .socials a:hover:first-child {
  color: #fff;
  background-color: var(--linkedin-color);
}
footer .column .socials a:hover:nth-child(2) {
  color: #fff;
  background-color: var(--github-color);
}
footer .column .socials a:hover:nth-child(3) {
  color: #fff;
  background-color: var(--facebook-color);
}
footer .column .socials a:hover:nth-child(4) {
  color: #fff;
  background-color: var(--yt-color);
}
footer .column .socials a:hover:nth-child(5) {
  color: #fff;
  background-color: var(--instagram-color);
}

footer .column h4 {
  color: var(--social-darkgray-color);
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

footer .column > a {
  display: block;
  color: var(--social-gray-color);
  font-weight: 300;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

footer .column > a:hover {
  color: var(--social-darkgray-color);
  font-weight: 500;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color: var(--social-gray-color);
  font-size: 0.5rem;
  padding: 1rem;
}

.feedback .ideas {
  padding: 110px 85px;
}

.feedback .customers {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.feedback .customers .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid var(--card-color);
  border-radius: 10px;
  background-color: var(--card-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.feedback .customers .item .rating{
    
  padding: 10px;
 
  
  font-size: 1rem;
  
}

.feedback .customers .item .rating span{text-transform: uppercase;
     color: var(--logo-color);
}

.feedback .customers .item:hover {
  border-color: var(--pricing-card-color-hover);
  background-color: var(--card-hover-color);
}

.ideas .customers .item:hover {
  border-color: var(--card-hover-color);
  background-color: var(--card-hover-color);
}

.feedback .customers .item p {
  line-height: 22px;
  font-size: 12px;
  padding: 5px;
  line-height: 2rem;
  color: var(--logo-color);
}

.ideas-btn {
  padding: 0.5rem 0.5rem;
  font-size: 12px;
  color: var(--logo-color);
  background-color: #fff;
  border: 1px solid var(--logo-color);
  border-radius: 5rem;
}

.feedback .customers .item .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feedback .customers .item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  filter: blur(5px);
}

.feedback .customers .item .user h5 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 3px;
}

.feedback .customers .item .user h3 {
  font-size: 13px;
  font-weight: 600;
}

#menuButton {
  padding: 0.5rem 0.5rem;
  font-size: 22px;
  color: var(--logo-color);
  background-color: #fff;
  border: 1px solid var(--logo-color);
  border-radius: 5px;
  display: none;
}
#menuButton:hover {
  cursor: pointer;
  color: var(--pricing-card-color);
  background-color: var(--logo-color);
}

.inspiration {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 4fr);
  align-items: center;
  gap: 2rem;
  background-color: rgb(239, 239, 232, 50%);
  padding: 2rem;
  border-radius: 20px;
}

.inspiration .inspiration-element {
  border: 1px solid var(--pricing-card-color);
  background: var(--pricing-card-color-hover);
  /* filter: blur(1px); */
  border-radius: 15px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.35);
  text-align: center;
  text-decoration: none;
  padding: 1rem 2rem;
}

.inspiration .inspiration-element:hover {
  cursor: pointer;
  background-color: var(--card-hover-color);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
.inspiration .inspiration-element p {
  color: var(--logo-color);
  font-weight: 300;
  font-size: 0.8rem;
}

.scroll-to-top{
    position: fixed;
    bottom: 20px;
    right: 50px;
    background-color: var(--card-hover-color-color);
    color: var(--logo-color);
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease;
}
.scroll-to-top:hover {
  background-color: var(--hover-color);
  color: var(--logo-color);
}


form{
    
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form input{
    width: 100%;
    background-color: var(--card-color);
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}


form button{display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: var(--card-hover-color);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover{
    background-color: var(--hover-color);
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
  .nav-links {
    font-size: 14px;
    gap: 2rem;
  }

  .btn {
    display: none;
  }
  header {
    grid-template-columns: repeat(1, 1fr);
    font-size: 0.85rem;
  }

  .feedback .customers {
    grid-template-columns: repeat(1, 3fr);
  }
  .header .image {
    grid-area: 1/1/2/2;
  }
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-items {
    grid-template-columns: repeat(2, 3fr);
  }

  .pricing {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    grid-template-columns: 1fr 200px;
  }

  #menuButton {
    display: flex;
  }

  .inspiration {
    grid-template-columns: repeat(2, 10fr);
  }
}

@media (max-width: 600px) {
  header .image::before {
    display: none;
  }

  .nav-links {
    font-size: 12px;
    gap: 1rem;
  }
  .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio-items {
    grid-template-columns: repeat(1, 4fr);
  }
  .skills .left {
    padding: 0px 40px 0px 0px;
  }

  .skills .right {
    grid-template-columns: repeat(2, 10fr);
    gap: 10px;
  }

  .feedback {
    margin-top: 10rem;
  }
  .pricing {
    grid-template-columns: repeat(1, 1fr);
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .container .inspiration {
    grid-template-columns: repeat(2, 20fr);
    /* justify-content: center; */
  }

  
}
